*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* img {
  display: block;
} */

li {
  list-style-type: none;
}

/* Common styles */
:root {
  --text-color: rgba(34, 52, 61, 1);
}

body {
  font-family: 'Poppins', serif;
  font-weight: 400;
  color: var(--text-color);
}

/* - - - - - - - - - - Home page - - - - - - - - - - */

/* - - - header - - - */
.container {
  width: 1140px;
  padding-inline: 15px;
  margin: 0 auto;
  border: 1px solid red;
}

.header  a {
  text-decoration: none;
  color: inherit;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  line-height: calc(28 / 30);
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__list {
  line-height: 1.75rem;
  
  margin-right: 24px;
}

.header {
  padding: 19px 0px;
}

.header img {
  display: inline;
}

.header__account {
  display: flex;
}

.header__list {
  display: flex;
}

.flex-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 80px;
}

.header__list > .header__item:not(last-child) {
  margin-left: 30px;
}

.header__account {
  margin-left: 24px;
}

.header__account > .account__item {
  margin-right: 24px;
}

.btn {
  min-width: 102px;
  padding: 9px 22px 9px 22px;
  border-radius: 4px;
  font-weight: 600;
}

.btn-white {
  border: 1px solid rgba(188, 208, 229, 1);
}

.btn-green {
  background-color: rgba(2, 137, 122, 1);
  border: 1px solid transparent;
}

.btn-color-text {
  color: #FFFFFF;
}